.navbar {
  @include px;
  height: 6.8rem;
  box-shadow: 0px 0px 16px 2px rgba(46, 55, 74, 0.125);
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  position: fixed;
  width: 100%;
  z-index: 10;

  ul {
    display: flex;
    height: 100%;
  }

  &__link {
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    min-width: 13.2rem;
    height: 100%;
    border-bottom: 5px solid inherit;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:link,
    &:visited {
      color: var(--grey-dark-color-3);
      font-weight: 600;
    }

    &:hover {
      color: var(--grey-dark-color-2);
      border-bottom: 5px solid var(--primary-light-color);
      background-color: var(--grey-light-color-1);
    }
    &:active {
      color: var(--grey-dark-color-1);
    }
  }

  .btn-box {
    margin-left: auto;
    display: block;
    min-width: 12.2rem;
  }
}
